# Ignore macOS system files
.DS_Store
audio/en/easyread-text-10-2_en.mp3
audio/en/easyread-text-10-3_en.mp3
audio/en/easyread-text-10-4_en.mp3
audio/en/easyread-text-10-5_en.mp3
audio/en/easyread-text-10-6_en.mp3
audio/en/easyread-text-10-7_en.mp3
audio/en/easyread-text-10-8_en.mp3
audio/en/easyread-text-10-9_en.mp3
audio/en/easyread-text-10-10_en.mp3
audio/en/easyread-text-10-11_en.mp3
audio/en/easyread-text-12-3_en.mp3
audio/en/easyread-text-14-9_en.mp3
audio/en/easyread-text-14-10_en.mp3
audio/en/easyread-text-16-7_en.mp3
audio/en/easyread-text-16-20_en.mp3
audio/en/easyread-text-18-3_en.mp3
audio/en/easyread-text-18-4_en.mp3
audio/en/easyread-text-18-5_en.mp3
audio/en/easyread-text-18-6_en.mp3
audio/en/easyread-text-18-7_en.mp3
audio/en/easyread-text-18-8_en.mp3
audio/en/easyread-text-18-9_en.mp3
audio/en/easyread-text-18-11_en.mp3
audio/en/easyread-text-18-12_en.mp3
audio/en/easyread-text-18-13_en.mp3
audio/en/easyread-text-18-14_en.mp3
audio/en/easyread-text-19-1_en.mp3
audio/en/easyread-text-19-15_en.mp3
audio/en/easyread-text-19-16_en.mp3
audio/en/easyread-text-19-17_en.mp3
audio/en/easyread-text-21-6_en.mp3
audio/en/easyread-text-22-5_en.mp3
audio/en/easyread-text-22-6_en.mp3
audio/en/easyread-text-22-7_en.mp3
audio/en/easyread-text-22-8_en.mp3
audio/en/easyread-text-22-11_en.mp3
audio/en/easyread-text-22-12_en.mp3
audio/en/easyread-text-22-13_en.mp3
audio/en/easyread-text-22-14_en.mp3
audio/en/easyread-text-22-15_en.mp3
audio/en/easyread-text-22-17_en.mp3
audio/en/easyread-text-22-18_en.mp3
audio/en/easyread-text-22-19_en.mp3
audio/en/easyread-text-22-20_en.mp3
audio/en/easyread-text-22-21_en.mp3
audio/en/easyread-text-22-22_en.mp3
audio/en/easyread-text-22-23_en.mp3
audio/en/easyread-text-22-24_en.mp3
audio/en/easyread-text-22-25_en.mp3
audio/en/easyread-text-23-23_en.mp3
audio/en/easyread-text-23-24_en.mp3
audio/en/easyread-text-24-6_en.mp3
audio/en/easyread-text-24-20_en.mp3
audio/en/easyread-text-24-21_en.mp3
audio/en/easyread-text-24-22_en.mp3
audio/en/easyread-text-25-11_en.mp3
audio/en/easyread-text-25-13_en.mp3
audio/en/easyread-text-25-15_en.mp3
audio/en/easyread-text-25-17_en.mp3
audio/en/easyread-text-25-19_en.mp3
audio/en/easyread-text-25-21_en.mp3
audio/en/easyread-text-25-23_en.mp3
audio/en/easyread-text-25-25_en.mp3
audio/en/easyread-text-25-26_en.mp3
audio/en/easyread-text-28-12_en.mp3
audio/en/easyread-text-28-14_en.mp3
audio/en/easyread-text-28-15_en.mp3
audio/en/easyread-text-28-17_en.mp3
audio/en/easyread-text-28-18_en.mp3
audio/en/easyread-text-28-22_en.mp3
audio/en/easyread-text-28-24_en.mp3
audio/en/easyread-text-28-26_en.mp3
audio/en/easyread-text-28-27_en.mp3
audio/en/easyread-text-29-12_en.mp3
audio/en/easyread-text-29-13_en.mp3
audio/en/easyread-text-29-14_en.mp3
audio/en/easyread-text-29-15_en.mp3
audio/en/easyread-text-29-16_en.mp3
audio/en/easyread-text-29-17_en.mp3
audio/en/easyread-text-29-18_en.mp3
audio/en/easyread-text-29-19_en.mp3
audio/en/easyread-text-29-20_en.mp3
audio/en/easyread-text-29-21_en.mp3
audio/en/easyread-text-33-5_en.mp3
audio/en/easyread-text-33-11_en.mp3
audio/en/easyread-text-33-13_en.mp3
audio/en/easyread-text-36-2_en.mp3
audio/en/img-12-6_en.mp3
audio/en/img-16-1_en.mp3
audio/en/img-17-3_en.mp3
audio/en/img-17-4_en.mp3
audio/en/img-17-5_en.mp3
audio/en/img-17-6_en.mp3
audio/en/img-17-7_en.mp3
audio/en/img-17-8_en.mp3
audio/en/img-23-1_en.mp3
audio/en/text-10-2_en.mp3
audio/en/text-10-3_en.mp3
audio/en/text-10-4_en.mp3
audio/en/text-10-5_en.mp3
audio/en/text-10-6_en.mp3
audio/en/text-10-7_en.mp3
audio/en/text-10-8_en.mp3
audio/en/text-10-9_en.mp3
audio/en/text-10-10_en.mp3
audio/en/text-10-11_en.mp3
audio/en/text-12-3_en.mp3
audio/en/text-14-9_en.mp3
audio/en/text-14-10_en.mp3
audio/en/text-16-7_en.mp3
audio/en/text-16-20_en.mp3
audio/en/text-18-3_en.mp3
audio/en/text-18-4_en.mp3
audio/en/text-18-5_en.mp3
audio/en/text-18-6_en.mp3
audio/en/text-18-7_en.mp3
audio/en/text-18-8_en.mp3
audio/en/text-18-9_en.mp3
audio/en/text-18-11_en.mp3
audio/en/text-18-12_en.mp3
audio/en/text-18-13_en.mp3
audio/en/text-18-14_en.mp3
audio/en/text-19-1_en.mp3
audio/en/text-19-15_en.mp3
audio/en/text-19-16_en.mp3
audio/en/text-19-17_en.mp3
audio/en/text-21-6_en.mp3
audio/en/text-22-5_en.mp3
audio/en/text-22-6_en.mp3
audio/en/text-22-7_en.mp3
audio/en/text-22-8_en.mp3
audio/en/text-22-11_en.mp3
audio/en/text-22-12_en.mp3
audio/en/text-22-13_en.mp3
audio/en/text-22-14_en.mp3
audio/en/text-22-15_en.mp3
audio/en/text-22-17_en.mp3
audio/en/text-22-18_en.mp3
audio/en/text-22-19_en.mp3
audio/en/text-22-20_en.mp3
audio/en/text-22-21_en.mp3
audio/en/text-22-22_en.mp3
audio/en/text-22-23_en.mp3
audio/en/text-22-24_en.mp3
audio/en/text-22-25_en.mp3
audio/en/text-23-23_en.mp3
audio/en/text-23-24_en.mp3
audio/en/text-24-6_en.mp3
audio/en/text-24-20_en.mp3
audio/en/text-24-21_en.mp3
audio/en/text-24-22_en.mp3
audio/en/text-25-11_en.mp3
audio/en/text-25-13_en.mp3
audio/en/text-25-15_en.mp3
audio/en/text-25-17_en.mp3
audio/en/text-25-19_en.mp3
audio/en/text-25-21_en.mp3
audio/en/text-25-23_en.mp3
audio/en/text-25-25_en.mp3
audio/en/text-25-26_en.mp3
audio/en/text-28-12_en.mp3
audio/en/text-28-14_en.mp3
audio/en/text-28-15_en.mp3
audio/en/text-28-17_en.mp3
audio/en/text-28-18_en.mp3
audio/en/text-28-22_en.mp3
audio/en/text-28-24_en.mp3
audio/en/text-28-26_en.mp3
audio/en/text-28-27_en.mp3
audio/en/text-29-12_en.mp3
audio/en/text-29-13_en.mp3
audio/en/text-29-14_en.mp3
audio/en/text-29-15_en.mp3
audio/en/text-29-16_en.mp3
audio/en/text-29-17_en.mp3
audio/en/text-29-18_en.mp3
audio/en/text-29-19_en.mp3
audio/en/text-29-20_en.mp3
audio/en/text-29-21_en.mp3
audio/en/text-33-5_en.mp3
audio/en/text-33-11_en.mp3
audio/en/text-33-13_en.mp3
audio/en/text-36-2_en.mp3
audio/es/easyread-text-10-2_es.mp3
audio/es/easyread-text-10-3_es.mp3
audio/es/easyread-text-10-4_es.mp3
audio/es/easyread-text-10-5_es.mp3
audio/es/easyread-text-10-6_es.mp3
audio/es/easyread-text-10-7_es.mp3
audio/es/easyread-text-10-8_es.mp3
audio/es/easyread-text-10-9_es.mp3
audio/es/easyread-text-10-10_es.mp3
audio/es/easyread-text-10-11_es.mp3
audio/es/easyread-text-12-3_es.mp3
audio/es/easyread-text-14-9_es.mp3
audio/es/easyread-text-14-10_es.mp3
audio/es/easyread-text-16-7_es.mp3
audio/es/easyread-text-16-20_es.mp3
audio/es/easyread-text-18-3_es.mp3
audio/es/easyread-text-18-4_es.mp3
audio/es/easyread-text-18-5_es.mp3
audio/es/easyread-text-18-6_es.mp3
audio/es/easyread-text-18-7_es.mp3
audio/es/easyread-text-18-8_es.mp3
audio/es/easyread-text-18-9_es.mp3
audio/es/easyread-text-18-11_es.mp3
audio/es/easyread-text-18-12_es.mp3
audio/es/easyread-text-18-13_es.mp3
audio/es/easyread-text-18-14_es.mp3
audio/es/easyread-text-19-1_es.mp3
audio/es/easyread-text-19-15_es.mp3
audio/es/easyread-text-19-16_es.mp3
audio/es/easyread-text-19-17_es.mp3
audio/es/easyread-text-21-6_es.mp3
audio/es/easyread-text-22-5_es.mp3
audio/es/easyread-text-22-6_es.mp3
audio/es/easyread-text-22-7_es.mp3
audio/es/easyread-text-22-8_es.mp3
audio/es/easyread-text-22-11_es.mp3
audio/es/easyread-text-22-12_es.mp3
audio/es/easyread-text-22-13_es.mp3
audio/es/easyread-text-22-14_es.mp3
audio/es/easyread-text-22-15_es.mp3
audio/es/easyread-text-22-17_es.mp3
audio/es/easyread-text-22-18_es.mp3
audio/es/easyread-text-22-19_es.mp3
audio/es/easyread-text-22-20_es.mp3
audio/es/easyread-text-22-21_es.mp3
audio/es/easyread-text-22-22_es.mp3
audio/es/easyread-text-22-23_es.mp3
audio/es/easyread-text-22-24_es.mp3
audio/es/easyread-text-22-25_es.mp3
audio/es/easyread-text-23-23_es.mp3
audio/es/easyread-text-23-24_es.mp3
audio/es/easyread-text-24-6_es.mp3
audio/es/easyread-text-24-20_es.mp3
audio/es/easyread-text-24-21_es.mp3
audio/es/easyread-text-24-22_es.mp3
audio/es/easyread-text-25-11_es.mp3
audio/es/easyread-text-25-13_es.mp3
audio/es/easyread-text-25-15_es.mp3
audio/es/easyread-text-25-17_es.mp3
audio/es/easyread-text-25-19_es.mp3
audio/es/easyread-text-25-21_es.mp3
audio/es/easyread-text-25-23_es.mp3
audio/es/easyread-text-25-25_es.mp3
audio/es/easyread-text-25-26_es.mp3
audio/es/easyread-text-28-12_es.mp3
audio/es/easyread-text-28-14_es.mp3
audio/es/easyread-text-28-15_es.mp3
audio/es/easyread-text-28-17_es.mp3
audio/es/easyread-text-28-18_es.mp3
audio/es/easyread-text-28-22_es.mp3
audio/es/easyread-text-28-24_es.mp3
audio/es/easyread-text-28-26_es.mp3
audio/es/easyread-text-28-27_es.mp3
audio/es/easyread-text-29-12_es.mp3
audio/es/easyread-text-29-13_es.mp3
audio/es/easyread-text-29-14_es.mp3
audio/es/easyread-text-29-15_es.mp3
audio/es/easyread-text-29-16_es.mp3
audio/es/easyread-text-29-17_es.mp3
audio/es/easyread-text-29-18_es.mp3
audio/es/easyread-text-29-19_es.mp3
audio/es/easyread-text-29-20_es.mp3
audio/es/easyread-text-29-21_es.mp3
audio/es/easyread-text-33-5_es.mp3
audio/es/easyread-text-33-11_es.mp3
audio/es/easyread-text-33-13_es.mp3
audio/es/easyread-text-36-2_es.mp3
audio/es/img-12-6_es.mp3
audio/es/img-16-1_es.mp3
audio/es/img-17-3_es.mp3
audio/es/img-17-4_es.mp3
audio/es/img-17-5_es.mp3
audio/es/img-17-6_es.mp3
audio/es/img-17-7_es.mp3
audio/es/img-17-8_es.mp3
audio/es/img-23-1_es.mp3
audio/es/text-10-2_es.mp3
audio/es/text-10-3_es.mp3
audio/es/text-10-4_es.mp3
audio/es/text-10-5_es.mp3
audio/es/text-10-6_es.mp3
audio/es/text-10-7_es.mp3
audio/es/text-10-8_es.mp3
audio/es/text-10-9_es.mp3
audio/es/text-10-10_es.mp3
audio/es/text-10-11_es.mp3
audio/es/text-12-3_es.mp3
audio/es/text-14-9_es.mp3
audio/es/text-14-10_es.mp3
audio/es/text-16-7_es.mp3
audio/es/text-16-20_es.mp3
audio/es/text-18-3_es.mp3
audio/es/text-18-4_es.mp3
audio/es/text-18-5_es.mp3
audio/es/text-18-6_es.mp3
audio/es/text-18-7_es.mp3
audio/es/text-18-8_es.mp3
audio/es/text-18-9_es.mp3
audio/es/text-18-11_es.mp3
audio/es/text-18-12_es.mp3
audio/es/text-18-13_es.mp3
audio/es/text-18-14_es.mp3
audio/es/text-19-1_es.mp3
audio/es/text-19-15_es.mp3
audio/es/text-19-16_es.mp3
audio/es/text-19-17_es.mp3
audio/es/text-21-6_es.mp3
audio/es/text-22-5_es.mp3
audio/es/text-22-6_es.mp3
audio/es/text-22-7_es.mp3
audio/es/text-22-8_es.mp3
audio/es/text-22-11_es.mp3
audio/es/text-22-12_es.mp3
audio/es/text-22-13_es.mp3
audio/es/text-22-14_es.mp3
audio/es/text-22-15_es.mp3
audio/es/text-22-17_es.mp3
audio/es/text-22-18_es.mp3
audio/es/text-22-19_es.mp3
audio/es/text-22-20_es.mp3
audio/es/text-22-21_es.mp3
audio/es/text-22-22_es.mp3
audio/es/text-22-23_es.mp3
audio/es/text-22-24_es.mp3
audio/es/text-22-25_es.mp3
audio/es/text-23-23_es.mp3
audio/es/text-23-24_es.mp3
audio/es/text-24-6_es.mp3
audio/es/text-24-20_es.mp3
audio/es/text-24-21_es.mp3
audio/es/text-24-22_es.mp3
audio/es/text-25-11_es.mp3
audio/es/text-25-13_es.mp3
audio/es/text-25-15_es.mp3
audio/es/text-25-17_es.mp3
audio/es/text-25-19_es.mp3
audio/es/text-25-21_es.mp3
audio/es/text-25-23_es.mp3
audio/es/text-25-25_es.mp3
audio/es/text-25-26_es.mp3
audio/es/text-28-12_es.mp3
audio/es/text-28-14_es.mp3
audio/es/text-28-15_es.mp3
audio/es/text-28-17_es.mp3
audio/es/text-28-18_es.mp3
audio/es/text-28-22_es.mp3
audio/es/text-28-24_es.mp3
audio/es/text-28-26_es.mp3
audio/es/text-28-27_es.mp3
audio/es/text-29-12_es.mp3
audio/es/text-29-13_es.mp3
audio/es/text-29-14_es.mp3
audio/es/text-29-15_es.mp3
audio/es/text-29-16_es.mp3
audio/es/text-29-17_es.mp3
audio/es/text-29-18_es.mp3
audio/es/text-29-19_es.mp3
audio/es/text-29-20_es.mp3
audio/es/text-29-21_es.mp3
audio/es/text-33-5_es.mp3
audio/es/text-33-11_es.mp3
audio/es/text-33-13_es.mp3
audio/es/text-36-2_es.mp3
